.jquery-accordion-menu, .jquery-accordion-menu * {
    /*font-family: 'Open Sans',sans-serif;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0
}

.jquery-accordion-menu {
    min-width: 260px;
    float: left;
    width: 100%;
    position: relative;
    /*box-shadow: 0 20px 50px #333*/
}


a {
    font-size: 18px !important;
}


.jquery-accordion-menu .jquery-accordion-menu-footer, .jquery-accordion-menu .jquery-accordion-menu-header {
    width: calc(100% - 16px);
    padding: 10px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #f0f0f0;
    background: #414956;
}

.jquery-accordion-menu-header {
    position: fixed !important;
    z-index: 2;
}


.jquery-accordion-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.jquery-accordion-menu ul li a {
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

.jquery-accordion-menu ul li a {
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 13px;
    background: #414956;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    -o-transition: color .2s linear, background .2s linear;
    -moz-transition: color .2s linear, background .2s linear;
    -webkit-transition: color .2s linear, background .2s linear;
    transition: color .2s linear, background .2s linear;
}

.jquery-accordion-menu > ul > li.active > a, .jquery-accordion-menu > ul > li:hover > a {
    color: #fff;
    background: #3b424d
}


.jquery-accordion-menu ul li a i {
    width: 34px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left
}

.jquery-accordion-menu .submenu-indicator {
    float: right;
    right: 22px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    top: 17px;
    -o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
    line-height: 16px
}

.jquery-accordion-menu .submenu-indicator-minus > .submenu-indicator {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu, .jquery-accordion-menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static;
}

.jquery-accordion-menu ul ul.submenu li {
    clear: both;
    width: 100%
}

.jquery-accordion-menu ul li a {
    width: 100%;
    float: left;
    font-size: 11px;
    background: #383838;
    border-top: none;
    position: relative;
    /*border-left: solid 6px transparent;*/
    -o-transition: border .2s linear, height 1s;
    -moz-transition: border .2s linear, height 1s;
    -webkit-transition: border .2s linear, height 1s;
    transition: border .2s linear, height 1s;
}

.jquery-accordion-menu ul li > a {
    -webkit-box-shadow: inset 20px 0 20px -20px green;
    -moz-box-shadow: inset 20px 0 20px -20px green;
    box-shadow: inset 20px 0 20px -20px green;
}

.jquery-accordion-menu ul li > a.disable {
    -webkit-box-shadow: inset 20px 0 20px -20px darkred;
    -moz-box-shadow: inset 20px 0 20px -20px darkred;
    box-shadow: inset 20px 0 20px -20px darkred;
}

.jquery-accordion-menu ul ul.submenu {
    padding-left: 30px;
    padding-right: 30px;
}

.invisible {
    display: none;
}

.jquery-accordion-menu button:hover {
    color: white;
    background: #3b3b3b;
}

.jquery-accordion-menu button {
    padding: 10px 20px;
    border: 3px solid #3b3b3b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}
#types-wrapper-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.jquery-accordion-menu ul li .jquery-accordion-menu-label, .jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
    min-width: 20px;
    padding: 1px 2px 1px 1px;
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 11px;
    font-weight: 800;
    color: #555;
    text-align: center;
    line-height: 18px;
    background: #f0f0f0;
    border-radius: 100%
}

.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
    top: 12px
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.animate-ink {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5)
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5)
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5)
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5)
    }
}

/*стили для синего цвета маню*/
.blue.jquery-accordion-menu .jquery-accordion-menu-footer, .blue.jquery-accordion-menu .jquery-accordion-menu-header, .blue.jquery-accordion-menu ul li a {
    background: #4A89DC
}

.blue.jquery-accordion-menu > ul > li.active > a, .blue.jquery-accordion-menu > ul > li:hover > a {
    background: #3e82da
}


.blue.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #3e82da;
    background: #3b3b3b;
}

/*конец*/

.jquery-accordion-menu-header p {
    text-align: center;
    font-size: 25px;

}
#types-list{
    width: 100%;
    background-color: #fff;
}
#types-list li{
    text-align: center;
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 150px;
    overflow: hidden;
    color: #555;
    font-size: 16px;
}
#types-list li > .row-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 50px;
    border-bottom: 2px solid #5491F5;
}
.name-wrapper{
    width: 300px;
}
#global-add-type{
    position: absolute;
    left: 20px;
    color: #fff;
    top: 67px;
}
#types-wrapper .fa-plus{
    padding-right: 10px;
}
#types-wrapper .fa-edit{
    padding-left: 10px;
}
#types-wrapper thead{
    z-index: 2;
    color: #fff;
    font-size: 16px;
    position: relative;
}
#types-wrapper thead th{
    text-align: center;
    height: 60px;
    padding-top: calc(30px - 0.5em);
}
#types-wrapper table{
    background: #5491F5;
    z-index: 2;
    width: 800px;
}
/*стили для зеленого цвета маню*/
.green.jquery-accordion-menu .jquery-accordion-menu-footer, .green.jquery-accordion-menu .jquery-accordion-menu-header, .green.jquery-accordion-menu ul li a {
    background: #03A678
}

.green.jquery-accordion-menu > ul > li.active > a, .green.jquery-accordion-menu > ul > li:hover > a {
    background: #049372
}

.green.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #049372;
    background: #3b3b3b;
}

/*конец*/

/*стили для красного цвета маню*/
.red.jquery-accordion-menu .jquery-accordion-menu-footer, .red.jquery-accordion-menu .jquery-accordion-menu-header, .red.jquery-accordion-menu ul li a {
    background: #ED5565
}

.red.jquery-accordion-menu > ul > li.active > a, .red.jquery-accordion-menu > ul > li:hover > a {
    background: #DA4453
}

.red.jquery-accordion-menu ul ul.submenu li:hover > a {
    border-left-color: #DA4453;
    background: #3b3b3b;
}

/*конец*/

/*стили для белого цвета маню*/
.white.jquery-accordion-menu .jquery-accordion-menu-footer, .white.jquery-accordion-menu .jquery-accordion-menu-header, .white.jquery-accordion-menu ul li a {
    background: #fff;
    color: #3b3b3b
}

.white.jquery-accordion-menu > ul > li.active > a, .white.jquery-accordion-menu > ul > li:hover > a {
    background: #f0f0f0
}


.white.jquery-accordion-menu ul li:hover > a {
    background: #3b3b3b;
    color: white;
}

.white.jquery-accordion-menu ul li a {
    color: #000;
}
.change_isactive{
    width: 40px !important;
}
.white.jquery-accordion-menu > ul > li > a > .ink {
    background: rgba(0, 0, 0, .1)
}

/*конец*/

/*стили для черного цвета маню*/
.black.jquery-accordion-menu .jquery-accordion-menu-footer, .black.jquery-accordion-menu .jquery-accordion-menu-header, .black.jquery-accordion-menu ul li a {
    background: #3b3b3b
}

.black.jquery-accordion-menu > ul > li.active > a, .black.jquery-accordion-menu > ul > li:hover > a {
    background: #3b3b3b
}
