html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#content {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#pay-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#pay-form div, #pay-form .btn {
    margin-top: 15px;
}

.big-text {
    font-size: 150%;
}

#payment-info {
    font-size: 16px;
    margin-top: 30px;
}

.main-header_subtitle {

}

.loader {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, .05);
}

.spinner {
    height: 80px;
    width: 80px;
    position: fixed;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    animation: rotate 0.8s infinite linear;
    border: 12px solid #33373C;
    border-right-color: transparent;
    border-radius: 50%;
    z-index: 1000;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#advantages .icon-box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#advantages {
    margin-bottom: 40px;
    width: 1000px;

}

#advantages .icon-box i {
    font-size: 50px;
}

#advantages .icon-box span {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}

.input-group {
    border-radius: 8px;
}

.correct-info {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 128, 0, 1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 128, 0, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 128, 0, 1);
}